<ion-header>
  <ion-toolbar>
    <ion-title>testing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ul *ngFor="let person of personList">
    <li>{{ person }}</li>
  </ul>
</ion-content>
